
@font-face {
  font-family: "윤고딕320";
  src: url("./fonts/윤고딕320.ttf");
}
@font-face {
  font-family: "윤고딕340";
  src: url("./fonts/윤고딕340.ttf");
}

@font-face {
  font-family: "윤고딕딕320";
  src: url("./fonts/윤고딕딕320.ttf");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "윤고딕360";
  src: url("./fonts/윤고딕360.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf");
  unicode-range: U+0041-005A, U+0061-007A;
}